
<% if false %>
<% end %>

<div>
    cart_id = <%= current_cart.id %>
</div>
<div>
    <%= link_to "make product", new_product_path %>
</div>
<div>
    <%= link_to "produts", products_path %>
</div>
<div>
    <%= link_to "add item to cart", new_cartitem_path %>
</div>

