
<% if false %>
<% end %>

<div>
    cart_id = <%= @cart.id %>
</div>

    <%= link_to "make product", new_product_path %>
    <%= link_to "produts", products_path %>

<div>
</div>

<div>
    
</div>

<div>
    show items in my cart 
</div>

<div>
    top main erb
</div>
